 <div class="container">
    <div class="card chat-app">
        <div class="contacts-list">
            <div class="input-group">
                <div class="input-group-prepend">
                    <button class="input-group-text"><fa-icon [icon]="faMagnifyingGlass"></fa-icon></button>
                </div>
                <input type="text" class="form-control" placeholder="Search...">
            </div>
            <form name="conversationForm" #f="ngForm" novalidate (ngSubmit)="f.form.valid && onConversationSubmit()">
                <div class="input-group new-convo form-group">
                    <div class="input-group-prepend">
                        <button class="input-group-text" type="submit"><fa-icon [icon]="faPlus"></fa-icon></button>
                    </div>
                    <input [(ngModel)]="conversationForm.recipient" name="recipient" type="text" class="form-control" placeholder="New Conversation (Email)" #recipient="ngModel">
                </div>
            </form>
            <ul class="list-unstyled conversation-list mt-2 mb-0">
                <li *ngFor="let conversation of conversations" class="clearfix">
                    <div class="about" *ngIf="conversation.recipient != authService.getEmail()">
                        <a (click)="openConversation(conversation)" class="name">{{ conversation.recipient }}</a>
                    </div>
                    <div class="about" *ngIf="conversation.recipient == authService.getEmail()">
                        <a (click)="openConversation(conversation)" class="name">{{ conversation.sender }}</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="chat">
            <div class="messages">
                <ul class="list-unstyled message-list mt-2 mb-0">
                    <li *ngFor="let message of messages" class="clearfix">
                        <span [ngStyle]="{'float': message.senderEmail == authService.getEmail() ? 'left': 'right'}" class="name">{{ message.message }}</span>
                    </li>
                </ul>
            </div>
            <div class="message-input">
                <form name="messageForm" #f="ngForm" novalidate (ngSubmit)="f.form.valid && onMessageSubmit()">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <button type="submit" class="input-group-text"><fa-icon [icon]="faPaperPlane"></fa-icon></button>
                        </div>
                        <input [(ngModel)]="messageForm.newMessage" name="newMessage" type="text" class="form-control" placeholder="Search..." #newMessage="ngModel">
                    </div>
                </form>
            </div> 
        </div>
    </div>
</div>