<div class="login-container">
    <div id="login-card" class="card" style="padding: 3rem 1rem;">
        <div class="card-body">
            <h4 class="card-title" style="text-align: center">Login</h4>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1" style="margin: 0.5rem;">Email:</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1" style="margin: 0.5rem;">Password:</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary" style="margin-top: 1rem;">Submit</button>
            </form>
        </div>
    </div>
</div>