<div>
  <nav class="navbar navbar-dark bg-dark navbar-expand-md">
      <a class="navbar-brand" href="#">Messenger</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li *ngIf="! isLoggedIn()" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <a class="nav-link" routerLink="/login">
                  <span>
                      <span>Login</span>
                  </span>
              </a>
            </li>
            <li *ngIf="!isLoggedIn()" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <a class="nav-link" routerLink="/register">
                  <span>
                      <span>Sign Up</span>
                  </span>
              </a>
            </li>
            <li *ngIf="isLoggedIn()" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <a class="nav-link" (click)="logout()" routerLink="">
                  <span>
                      <span>Logout</span>
                  </span>
              </a>
            </li>
            <li *ngIf="roleMatch(['ADMIN'])" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <a class="nav-link" routerLink="">
                  <span>
                      <span>Admin</span>
                  </span>
              </a>
            </li>
          </ul>
        </div>
  </nav>
</div>
<router-outlet></router-outlet>