 <div class="container">
    <div class="card chat-app">
        <div class="contacts-list">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><fa-icon [icon]="faMagnifyingGlass"></fa-icon></span>
                </div>
                <input type="text" class="form-control" placeholder="Search...">
            </div>
            <ul class="list-unstyled conversation-list mt-2 mb-0">
                <li *ngFor="let conversation of conversations" class="clearfix">
                    <div class="about">
                        <div class="name">{{ conversation.recipient }}</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="messages">
            
        </div>
        <div class="chat">
            <div class="input-group message-input">
                <div class="input-group-prepend">
                    <span class="input-group-text"><fa-icon [icon]="faPaperPlane"></fa-icon></span>
                </div>
                <input type="text" class="form-control" placeholder="Search...">
            </div>
        </div>
    </div>
</div>