<div class="login-container">
    <div id="login-card" class="card" style="padding: 3rem 1rem;">
        <div class="card-body">
            <h4 class="card-title" style="text-align: center">Login</h4>
            <form name="form" #f = "ngForm" novalidate (ngSubmit)="f.form.valid && onSubmit()">
                <div class="form-group">
                    <label for="email" style="margin: 0.5rem;">Email:</label>
                    <input [(ngModel)]="form.email" name="email" required type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" #email="ngModel">
                </div>
                <div class="form-group">
                    <label for="password" style="margin: 0.5rem;">Password:</label>
                    <input [(ngModel)]="form.password" name="password" type="password" required class="form-control" id="exampleInputPassword1" placeholder="Password" #password="ngModel">
                </div>
                <button type="submit" class="btn btn-primary" style="margin-top: 1rem;">Submit</button>
            </form>
        </div>
    </div>
</div>